.mainHomeDiv{
    margin: 0 auto;
    width: 1000px;
}
.questionDiv{
    background-color: aliceblue;
}
.welcomeDiv{
    display: flex;
    justify-content: space-between;
}
.welcomeDiv button{
    cursor: pointer;
    border: none;
    background-color: aliceblue;
    width: 10rem;
}